//main slider
section(class="main-slider")
    div(class="main-slider-content")
        div(class="container")
            div(class="slider-text")
                h1 مودة للتسويق الرقمي
                    br
                    span(class="diff-color") مودة .. الثقة لعملائنا
                p نساعدك على تحسين وجودك الرقمي
                a(href="tel:+201098644314" class="btn slider-btn") تواصل معنا
//main slider


//about
section(class="about" id="about")
    div(class="container")
        div(class="content")
            div(class="main-title")
                h2 نبذة عنا
                    span(class="line")
                p نحن فريق تسويق رقمي متميز وبخبرة مع أكثر من 
                    strong 40 
                    | شركة في مصر والخليج العربي
                    br
                    | بإستهداف لغالبية دول العالم العربي والغربي وفي الكثير من المجالات والصناعات المختلفة.
            div(class="about-content")
                div(class="about-text")
                    p هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. ولذلك يتم استخدام طريقة لوريم إيبسوم لأنها تعطي توزيعاَ طبيعياَ -إلى حد ما- للأحرف عوضاً عن استخدام "هنا يوجد محتوى نصي
                div(class="about-btn")
                    a(href="#contact" class="btn") تواصل معنا الآن
//about

//services
section(class="services" id="services")
    div(class="container")
        div(class="main-title")
            h2 خدماتنا
                span(class="line")
        div(class="services-content")
            div(class="row")
                div(class="box col-lg-4 col-md-6")
                    div(class="services-box")
                        div(class="icon")
                            img(src="images/services/01.svg" class="img-fluid")
                        div(class="text")
                            h3(class="subtitle") هوية العلامة التجارية
                            p(class="details") نصمم ونطور مظهر العلامة التجارية، بما في ذلك الشعار والألوان والخطوط والرموز والرسائل التسويقية، وذلك لتمييز العلامة التجارية عن المنافسين وتعزيز الإدراك لدى الجمهور المستهدف.
                div(class="box col-lg-4 col-md-6")
                    div(class="services-box")
                        div(class="icon")
                            img(src="images/services/02.svg" class="img-fluid")
                        div(class="text")
                            h3(class="subtitle") إدارة منصات التواصل الإجتماعي
                            p(class="details") نقوم بإدارة حسابات وصفحات الشركة على منصات التواصل الاجتماعي (مثل فيسبوك، تويتر، إنستجرام) وغيرها، ونقوم بالإشراف على المحتوى والرد على التعليقات وجذب المتابعين والعملاء المحتملين.
                div(class="box col-lg-4 col-md-6")
                    div(class="services-box")
                        div(class="icon")
                            img(src="images/services/03.svg" class="img-fluid")
                        div(class="text")
                            h3(class="subtitle") إعلانات منصات التواصل الاجتماعي
                            p(class="details") نستهدف الجمهور المحتمل لشركتك عبر منصات التواصل الاجتماعي مثل فيسبوك وإنستجرام وتويتر وسناب شات، من خلال عرض إعلانات مدفوعة بتصميم جذاب ومحتوى موجه لفئة معينة من المستخدمين.
                div(class="box col-lg-4 col-md-6")
                    div(class="services-box")
                        div(class="icon")
                            img(src="images/services/04.svg" class="img-fluid")
                        div(class="text")
                            h3(class="subtitle") تهيئة محركات البحث
                            p(class="details") متميزين في تحسين موقع الويب الخاص بالشركة لتحسين مركزه في نتائج محركات البحث مثل جوجل، من خلال تحسين الكلمات المفتاحية وبناء الروابط وتحسين الأداء الفني للموقع.
                div(class="box col-lg-4 col-md-6")
                    div(class="services-box")
                        div(class="icon")
                            img(src="images/services/05.svg" class="img-fluid")
                        div(class="text")
                            h3(class="subtitle") حملات جوجل الإعلانية
                            p(class="details") قادرين على عرض إعلاناتك للمستخدمين المستهدفين على محرك البحث الشهير جوجل وشبكته، وذلك لزيادة نسبة الزيارات والمبيعات على موقعك الإلكتروني.
                div(class="box col-lg-4 col-md-6")
                    div(class="services-box")
                        div(class="icon")
                            img(src="images/services/06.svg" class="img-fluid")
                        div(class="text")
                            h3(class="subtitle") تصميم المواقع الإلكترونية
                            p(class="details") نصمم ونطور بشكل إحترافي وجذاب المواقع الإلكترونية لتمثيل الشركات والمؤسسات على الإنترنت وزيادة الوصول إلى العملاء.
                div(class="box col-lg-4 col-md-6")
                    div(class="services-box")
                        div(class="icon")
                            img(src="images/services/07.svg" class="img-fluid")
                        div(class="text")
                            h3(class="subtitle") فيديوهات موشن جرافيك
                            p(class="details") نقدم خدمة الموشن جرافيك لتصميم وإنتاج فيديوهات توضيحية متحركة بشكل احترافي، تستخدم في الترويج للشركات والمنتجات والخدمات بطريقة مبتكرة وجذابة للعملاء المستهدفين.
//services

//clients
section(class="clients" id="clients")
    div(class="container")
        div(class="main-title")
            h2 من عملائنا
                span(class="line")
            //- p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore sunt nobis consectetur ab aut, temporibus magnam voluptates corporis reiciendis laudantium vel, nihil itaque at id, maxime expedita exercitationem tenetur
        div(class="clients-content")
            div(class="clients-box")
                //- img(src="images/clients/01.png", class="img-fluid" alt="")
            div(class="clients-box")
                //- img(src="images/clients/02.png", class="img-fluid" alt="")
            div(class="clients-box")
                //- img(src="images/clients/03.png", class="img-fluid" alt="")
            div(class="clients-box")
                //- img(src="images/clients/04.png", class="img-fluid" alt="")
            div(class="clients-box")
                //- img(src="images/clients/05.png", class="img-fluid" alt="")
            div(class="clients-box")
                //- img(src="images/clients/06.png", class="img-fluid" alt="")
            div(class="clients-box")
                //- img(src="images/clients/07.png", class="img-fluid" alt="")
            div(class="clients-box")
                //- img(src="images/clients/08.png", class="img-fluid" alt="")
//clients

//contact us
section(class="contact" id="contact")
    div(class="container")
        div(class="content")
            div(class="contact-form")
                div(class="main-title")
                    h2 تواصل معنا
                        span(class="line")
                form(action="send.php" method="POST")
                    div(class="row")
                        div(class="col-lg-6")
                            div(class="form-group")
                                label(for="") الاسم *
                                input(type="text" name="name" class="form-control" placeholder="الاسم" required)
                        div(class="col-lg-6")
                            div(class="form-group")
                                label(for="") البريد الإلكتروني *
                                input(type="email" name="email" class="form-control" placeholder="البريد الإلكتروني" required)
                        div(class="col-lg-12")
                            div(class="form-group")
                                label(for="") الهاتف *
                                input(type="number" name="phone" class="form-control" placeholder="الهاتف" required)
                        div(class="col-lg-12")
                            div(class="form-group")
                                label(for="") الرسالة *
                                textarea(class="form-control" name="message" rows="5" placeholder="اترك رسالتك هنا")
                    div(class="contact-btn")
                        button(class="btn" type="submit") إرسال الآن
//contact us