//main slider
section(class="main-slider")
    div(class="main-slider-content")
        div(class="container")
            div(class="slider-text")
                h1 مودة للتسويق الرقمي
                    br
                    span(class="diff-color") مودة .. الثقة لعملائنا
                p نساعدك على تحسين وجودك الرقمي
                //- a(href="tel:0597334589" class="btn slider-btn") تواصل معنا
//main slider


//about
section(class="about" id="about")
    div(class="container")
        div(class="content")
            div(class="main-title")
                h2 نبذة عنا
                    span(class="line")
            div(class="about-content")
                div(class="about-text")
                    p(class="mb-3") نحن وكالة رقمية مبتكرة متخصصة في تقديم حلول استراتيجية وإبداعية لعملائنا، نجمع خبرة تمتد لأكثر من 8 سنوات في مجال التسويق الرقمي حيث تساعدنا في توفير حلول شاملة تلبي احتياجات عملك.

                    p(class="mb-3") فلسفتنا تركز على توفير أفضل الخدمات لعملائنا من خلال التحليل الشامل والفهم العميق لأهدافهم ومتطلباتهم. حيث نؤمن بأن كل عميل لديه قصة فريدة تستحق أن تروى بأبهى صورة على منصات الويب ووسائل التواصل الاجتماعي.

                    p فريقنا مؤلف من مجموعة من المحترفين الموهوبين والمبدعين الذين يتمتعون بخبرة عملية واسعة في مجالات التسويق الرقمي وتصميم وتطوير الويب. نحن نستخدم التكنولوجيا الحديثة والأدوات المبتكرة لتحقيق نتائج مذهلة وتجربة ممتازة للمستخدم.
                //- div(class="about-btn")
                    a(href="#contact" class="btn") تواصل معنا الآن
//about

//services
section(class="services" id="services")
    div(class="container")
        div(class="main-title")
            h2 خدماتنا
                span(class="line")
        div(class="services-content")
            div(class="row justify-content-center")
                div(class="box col-lg-4 col-md-6")
                    div(class="services-box")
                        div(class="icon")
                            img(src="images/services/01.svg" class="img-fluid" alt="هوية العلامة التجارية")
                        div(class="text")
                            h3(class="subtitle") هوية العلامة التجارية
                            p(class="details") نصمم ونطور مظهر العلامة التجارية، بما في ذلك الشعار والألوان والخطوط والرموز والرسائل التسويقية، وذلك لتمييز العلامة التجارية عن المنافسين وتعزيز الإدراك لدى الجمهور المستهدف.
                //- div(class="box col-lg-4 col-md-6")
                    div(class="services-box")
                        div(class="icon")
                            img(src="images/services/02.svg" class="img-fluid" alt="")
                        div(class="text")
                            h3(class="subtitle") إدارة منصات التواصل الإجتماعي
                            p(class="details") نقوم بإدارة حسابات وصفحات الشركة على منصات التواصل الاجتماعي (مثل فيسبوك، تويتر، إنستجرام) وغيرها، ونقوم بالإشراف على المحتوى والرد على التعليقات وجذب المتابعين والعملاء المحتملين.
                div(class="box col-lg-4 col-md-6")
                    div(class="services-box")
                        div(class="icon")
                            img(src="images/services/03.svg" class="img-fluid" alt="إعلانات منصات التواصل الاجتماعي")
                        div(class="text")
                            h3(class="subtitle") إعلانات منصات التواصل الاجتماعي
                            p(class="details") نستهدف الجمهور المحتمل لشركتك عبر منصات التواصل الاجتماعي مثل فيسبوك وإنستجرام وتويتر وسناب شات، من خلال عرض إعلانات مدفوعة بتصميم جذاب ومحتوى موجه لفئة معينة من المستخدمين.
                div(class="box col-lg-4 col-md-6")
                    div(class="services-box")
                        div(class="icon")
                            img(src="images/services/04.svg" class="img-fluid" alt="تهيئة محركات البحث")
                        div(class="text")
                            h3(class="subtitle") تهيئة محركات البحث
                            p(class="details") متميزين في تحسين موقع الويب الخاص بالشركة لتحسين مركزه في نتائج محركات البحث مثل جوجل، من خلال تحسين الكلمات المفتاحية وبناء الروابط وتحسين الأداء الفني للموقع.
                div(class="box col-lg-4 col-md-6")
                    div(class="services-box")
                        div(class="icon")
                            img(src="images/services/05.svg" class="img-fluid" alt="حملات جوجل الإعلانية")
                        div(class="text")
                            h3(class="subtitle") حملات جوجل الإعلانية
                            p(class="details") قادرين على عرض إعلاناتك للمستخدمين المستهدفين على محرك البحث الشهير جوجل وشبكته، وذلك لزيادة نسبة الزيارات والمبيعات على موقعك الإلكتروني.
                div(class="box col-lg-4 col-md-6")
                    div(class="services-box")
                        div(class="icon")
                            img(src="images/services/06.svg" class="img-fluid" alt="تصميم المواقع الإلكترونية")
                        div(class="text")
                            h3(class="subtitle") تصميم المواقع الإلكترونية
                            p(class="details") نصمم ونطور بشكل إحترافي وجذاب المواقع الإلكترونية لتمثيل الشركات والمؤسسات على الإنترنت وزيادة الوصول إلى العملاء.
                div(class="box col-lg-4 col-md-6")
                    div(class="services-box")
                        div(class="icon")
                            img(src="images/services/07.svg" class="img-fluid" alt="فيديوهات موشن جرافيك")
                        div(class="text")
                            h3(class="subtitle") فيديوهات موشن جرافيك
                            p(class="details") نقدم خدمة الموشن جرافيك لتصميم وإنتاج فيديوهات توضيحية متحركة بشكل احترافي، تستخدم في الترويج للشركات والمنتجات والخدمات بطريقة مبتكرة وجذابة للعملاء المستهدفين.
//services

//clients
//- section(class="clients" id="clients")
    div(class="container")
        div(class="main-title")
            h2 من عملائنا
                span(class="line")
            //- p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore sunt nobis consectetur ab aut, temporibus magnam voluptates corporis reiciendis laudantium vel, nihil itaque at id, maxime expedita exercitationem tenetur
        div(class="clients-content")
            div(class="clients-box")
                img(src="images/clients/01.png", class="img-fluid" alt="")
            div(class="clients-box")
                img(src="images/clients/02.png", class="img-fluid" alt="")
            div(class="clients-box")
                img(src="images/clients/03.png", class="img-fluid" alt="")
            div(class="clients-box")
                img(src="images/clients/04.png", class="img-fluid" alt="")
            div(class="clients-box")
                img(src="images/clients/05.png", class="img-fluid" alt="")
            div(class="clients-box")
                img(src="images/clients/06.png", class="img-fluid" alt="")
            div(class="clients-box")
                img(src="images/clients/07.png", class="img-fluid" alt="")
            div(class="clients-box")
                img(src="images/clients/08.png", class="img-fluid" alt="")
            div(class="clients-box")
                img(src="images/clients/09.png", class="img-fluid" alt="")
            div(class="clients-box")
                img(src="images/clients/10.png", class="img-fluid" alt="")
            div(class="clients-box")
                img(src="images/clients/11.png", class="img-fluid" alt="")
            div(class="clients-box")
                img(src="images/clients/12.png", class="img-fluid" alt="")
//clients

//clients
section(class="clients" id="clients")
    div(class="container")
        div(class="main-title")
            h2 من عملائنا
                span(class="line")
        div(class="content")
            div(class="clients-carousel owl-carousel owl-theme")
                div(class="item")
                    img(class="img-fluid" src="images/clients/01.png" alt="")
                div(class="item")
                    img(class="img-fluid" src="images/clients/02.png" alt="")
                div(class="item")
                    img(class="img-fluid" src="images/clients/03.png" alt="")
                div(class="item")
                    img(class="img-fluid" src="images/clients/04.png" alt="")
                div(class="item")
                    img(class="img-fluid" src="images/clients/05.png" alt="")
                div(class="item")
                    img(class="img-fluid" src="images/clients/06.png" alt="")
                div(class="item")
                    img(class="img-fluid" src="images/clients/07.png" alt="")
                div(class="item")
                    img(class="img-fluid" src="images/clients/08.png" alt="")
                div(class="item")
                    img(class="img-fluid" src="images/clients/09.png" alt="")
                div(class="item")
                    img(class="img-fluid" src="images/clients/10.png" alt="")
                div(class="item")
                    img(class="img-fluid" src="images/clients/11.png" alt="")
                div(class="item")
                    img(class="img-fluid" src="images/clients/12.png" alt="")
//clients

//contact us
section(class="contact" id="contact")
    div(class="container")
        div(class="content")
            div(class="row")
                div(class="col-md-7")
                    div(class="contact-form")
                        div(class="main-title")
                            h2 تواصل معنا
                                span(class="line")
                        form(action="send.php" method="POST")
                            div(class="row")
                                div(class="col-lg-6")
                                    div(class="form-group")
                                        label(for="") الاسم *
                                        input(type="text" name="name" class="form-control" placeholder="الاسم" required)
                                div(class="col-lg-6")
                                    div(class="form-group")
                                        label(for="") البريد الإلكتروني
                                        input(type="email" name="email" class="form-control" placeholder="البريد الإلكتروني")
                                div(class="col-lg-12")
                                    div(class="form-group")
                                        label(for="") الهاتف *
                                        input(type="number" name="phone" class="form-control" placeholder="الهاتف" required)
                                div(class="col-lg-12")
                                    div(class="form-group")
                                        label(for="") الرسالة *
                                        textarea(class="form-control" name="message" rows="5" placeholder="اترك رسالتك هنا")
                            div(class="contact-btn")
                                button(class="btn" type="submit") إرسال الآن
                div(class="col-md-5 col-lg")
                    div(class="info")
                        div(class="contact-info")
                            h2 معلومات التواصل:
                            ul 
                                li  
                                    i(class="bi bi-envelope") 
                                    a(href="mailto:contact@mawada.agency") بريد إلكتروني: contact@mawada.agency
                                li  
                                    i(class="bi bi-telephone")
                                    a(href="tel:0597334589" dir="ltr") هاتف: 0597334589
                                li  
                                    i(class="bi bi-whatsapp")
                                    a(href="tel:0597334589" dir="ltr") واتساب: 0597334589
                        div(class="social-media")
                            h2 الموقع:
                           
                            p المملكه العربيه السعوديه -الرياض-حى الملقا -شارع الامام سعود بن فيصل
                    
//contact us