include includes/variables.pug
doctype 
html(lang="ar" dir="rtl")
    head
        meta(charset="UTF-8")
        meta(name="description" content="نحن وكالة رقمية مبتكرة متخصصة في تقديم حلول استراتيجية وإبداعية لعملائنا، نجمع خبرة تمتد لأكثر من 8 سنوات في مجال التسويق الرقمي حيث تساعدنا في توفير حلول شاملة تلبي احتياجات عملك.")
        meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
        meta(name="keywords", content="")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="shortcut icon" href="../images/favicon.svg")
        <!--[if lt IE 9]>
        <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
        </script>
        <![endif]-->
        block website_title
            title #{website_title} | الرئيسية
        include includes/styles.pug
    body
        div(class="main-wrapper")
            include includes/header.pug
            block home_block 
                include includes/home.pug
            include includes/footer.pug
        include includes/scripts.pug
        // GetButton.io widget
        script(type="text/javascript").
            (function () {
            var options = {
            //- facebook: "115106460341639", // Facebook page ID
            whatsapp: "+9660597334589", // WhatsApp number
            call_to_action: "تواصل معنا", // Call to action
            button_color: "#FF6550", // Color of button
            position: "left", // Position may be 'right' or 'left'
            order: "facebook,whatsapp", // Order of buttons
            };
            var proto = document.location.protocol, host = "getbutton.io", url = proto + "//static." + host;
            var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
            s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
            var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
            })();
        // /GetButton.io widget
