include includes/variables.pug
doctype 
html(lang="ar" dir="rtl")
    head
        meta(charset="UTF-8")
        meta(name="description" content="نحن وكالة رقمية مبتكرة متخصصة في تقديم حلول استراتيجية وإبداعية لعملائنا، نجمع خبرة تمتد لأكثر من 8 سنوات في مجال التسويق الرقمي حيث تساعدنا في توفير حلول شاملة تلبي احتياجات عملك.")
        meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
        meta(name="keywords", content="")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="shortcut icon" href="../images/favicon.svg")
        <!--[if lt IE 9]>
        <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
        </script>
        <![endif]-->
        block website_title
            title #{website_title} | الرئيسية
        include includes/styles.pug
    body
        div(class="main-wrapper")
            include includes/header.pug
            block home_block 
                include includes/home.pug
            include includes/footer.pug
        include includes/scripts.pug
        script(async='' src='https://d2mpatx37cqexb.cloudfront.net/delightchat-whatsapp-widget/embeds/embed.min.js')
        script.
            var wa_btnSetting = {"btnColor":"#16BE45","ctaText":"","cornerRadius":40,"marginBottom":20,"marginLeft":20,"marginRight":20,"btnPosition":"left","whatsAppNumber":"9660597334589","welcomeMessage":"أهلا","zIndex":999999,"btnColorScheme":"light"};
            window.onload = () => {
            _waEmbed(wa_btnSetting);
            };